body {
  font-family: Arial;
  font-size: 120%;
  background-color: #121212;
  color: #ebebeb;
  margin: 35px;
}

a {
  color: #ebebeb;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.195);
  transition: color 0.1s;
}

a:hover {
  color: rgb(1, 91, 176);
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.763);
}

button {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  font-size: 100%;
  background-color: rgb(41, 126, 207);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(1, 91, 176);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.195);
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  background-color: rgba(46, 46, 46, 0.512);
  border-radius: 3px;
}

li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.195);
}

.wrapper {
  margin: 60px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.feedback {
  width: 22%;
  text-align: center;
  font-size: 100%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(46, 46, 46, 0.512);
}

.timer {
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(46, 46, 46, 0.512);
}

#highscores-table {
  color: #ffffff;
}

#leaderboard a {
  background-color: transparent;
}